ion-toolbar {
    background-color: var(--ion-color-mycolor);
  }

  ion-content.background{

    --background: url(../../assets/img/fondoblanco.png) 0 0/100% 100% no-repeat;
  
  }

  .logo{
    margin: 20px;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
}

  .oscurecer{
    opacity: 80%;
  }