<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" color="dark" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitudes Viajes</ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/img/logo.png" alt="" style="width: 40px; height:40px; margin: 5px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

<br>
  <ion-grid fixed>
    <ion-row>
      <br>
      <ion-col size="10" size-lg="3" size-md="4" size-sm="6" size-xs="12"
              *ngFor="let solicitud of listSolicitud">
  
  
                <div class="card">
                  <div class="card-body">
                          <img src="../../assets/img/Mapa.png" class="ion-padding">
                          <p>Pasajero: {{ solicitud.Pasajero}}</p>
                          <p>Fecha Solicitud: {{ fechasolicitud }}</p>
                          <!--modal-->
                          <a class="btn btn-primary" (click)="confirmarSolicitud()">Confirmar Viaje</a>
                  </div>
                </div>
  

      </ion-col>
    </ion-row>
  </ion-grid>
  
  <br>
</ion-content>
