<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<img src="assets/logo2.png">

<ion-content>
  <ion-list  *ngIf="info">
     <ion-item>
      <ion-icon slot="start" name="accessibility-outline"></ion-icon>
        <ion-label>
             {{info.nombre}}
             
        </ion-label>
        
       
     </ion-item>
     <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>
           {{info.correo}}
      </ion-label>
      
   </ion-item>
   <ion-item>
    <ion-icon slot="start" name="people-outline"></ion-icon>
    <ion-label>
         {{info.perfil}}
    </ion-label>
    
 </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let ruta of rutas">
      <img src="assets/ultimoViaje.png">
      <ion-card>
        <h1>Ultimos Viajes</h1>
        
       
              <h4 class="negrita">Informacion</h4>
             <!-- <ion-card-subtitle>Nombre del conductor: {{ruta.conductor.nombre}}</ion-card-subtitle> -->
             <ion-item *ngIf="info" >
    
              <ion-label>Nombre : </ion-label>
             
                <ion-input disabled="true" value={{info.nombre}}></ion-input>
            </ion-item>
              <ion-card-subtitle>Patente: {{ruta.referencia}}</ion-card-subtitle>
              <h5 class="negrita">Ruta</h5>
              <ion-card-subtitle>{{ruta.direccion}}</ion-card-subtitle>
              <ion-card-subtitle>{{ruta.ciudad}}</ion-card-subtitle>
              <ion-card-subtitle>{{ruta.provincia}}</ion-card-subtitle>
              <!--<ion-card-subtitle>{{ruta.region}}</ion-card-subtitle>-->

            <br>
            <!--<ion-button (click)="Tomar(ruta)">Tomar Viaje</ion-button>-->
          </ion-card>
        </ion-col>
        </ion-row>
        </ion-grid>

  
</ion-content>
