<ion-header>
  <ion-toolbar color="mycolor">
    <!--boton regresar-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Vehículo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ titulo | uppercase }}</ion-card-title>
      <div *ngIf="loading" class="spinner-border float-end" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup] = "form" (ngSubmit)="guardarVehiculo()">
        <ion-item>
          <ion-label position="floating">Patente:</ion-label>
          <ion-input type="text" formControlName="patente" maxlength="6" class="is-valid"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Marca:</ion-label>
          <ion-input type="text" formControlName="marca" class="is-valid"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Modelo:</ion-label>
          <ion-input type="text" formControlName="modelo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Año:</ion-label>
          <ion-input type="number" pattern="^([0-9]{3,4})$" formControlName="año" class="is-valid"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Capacidad:</ion-label>
          <ion-input type="number" formControlName="capacidad" maxlength="2"></ion-input>
        </ion-item>
        <br>
        <ion-button [disabled]="form.invalid" expand="block" fill="outline" shape="round" type="submit">
          Registrar Vehiculo
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <br>
<ion-grid fixed>
  <ion-row>
    <ion-col>
      <h5 class="titulo">Mis Vehículos</h5>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
            *ngFor="let vehiculo of listVehiculo">
              <div class="card">
                <div class="card-body">
                        <img src="../../../assets/transporte.jpg" class="ion-padding">
                        <p>Patente: {{ vehiculo.patente | uppercase}}</p>
                        <p>Marca: {{ vehiculo.marca }}</p>
                        <p>Cap.: {{ vehiculo.capacidad }}</p>
                        <p> Chofer: {{ vehiculo.chofer }}</p> 
                        <i (click)="editarVehiculo(vehiculo)" class="far fa-edit text-info" style="margin-right:20px;"></i>
                        <i (click)="eliminarVehiculo(vehiculo.id)" class="far fa-trash-alt text-danger"></i>
                </div>
              </div>

    </ion-col>
    </ion-col>
  </ion-row>
</ion-grid>

<!--metodo antiguo de mostrar vehiculos
  <div class="card">
    <div class="card-body">
      <h5 class="titulo">Mis Vehículos</h5>
      <table class="table">
        <tbody>
          <tr *ngFor="let vehiculo of listVehiculo">
            <td>Ruta:
              {{ vehiculo.ruta }} <br></td>
            <td>Patente:
              {{ vehiculo.patente }}</td>
            <td>Marca:
              {{ vehiculo.marca }}</td>
            <td>Cap:
              {{ vehiculo.capacidad }}</td>
            <td>
              <i (click)="editarVehiculo(vehiculo)" class="far fa-edit text-info" style="margin-bottom:20px"></i>
              <i (click)="eliminarVehiculo(vehiculo.id)" class="far fa-trash-alt text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
-->
</ion-content>
<!--
  <ion-card>
    <ion-item color="warning">
      <ion-icon slot="start" name="pin-outline" color=""></ion-icon>
      <ion-label>Transportes Duoc UC</ion-label>
    </ion-item>
  
    <ion-card-content>
      <img src="assets/transporte.jpg" class="ion-padding">
      <p class="parrafo2">Inscribete con tu vehículo para apoyar a otras personas que nesesiten transporte para llegar a sus destinos.</p>
    </ion-card-content>  
  </ion-card>
<br>
  <form #formulario="ngForm" (ngSubmit)="addDatos()">
  
    <ion-item>
      <ion-label position="fixed">Patente: </ion-label>
      <ion-input type="text" placeholder="patente.." name="patente" [(ngModel)]="newDato.patente" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="fixed">Marca: </ion-label>
      <ion-input type="text" placeholder="marca.." name="marca" [(ngModel)]="newDato.marca" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="fixed">Modelo: </ion-label>
      <ion-input type="text" placeholder="modelo.." name="modelo" [(ngModel)]="newDato.modelo" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="fixed">Año: </ion-label>
      <ion-input type="number" placeholder="año.." name="año" [(ngModel)]="newDato.year" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="fixed">Color: </ion-label>
      <ion-input type="text" placeholder="color.." name="color" [(ngModel)]="newDato.color" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="fixed">Capacidad: </ion-label>
      <ion-input type="number" placeholder="Capacidad.." name="capacidad" [(ngModel)]="newDato.capacidad" required></ion-input>
    </ion-item>
   
    <ion-button expand="full" fill="outline" shape="round" (Click)="crearVehiculo()">
      Agregar Vehículo
    </ion-button>
  </form>
  
    <ion-list #myList>
      <ion-list-header>
        <ion-label>Mis Datos</ion-label>
      </ion-list-header>
  
      <ion-list>
        <ion-item-sliding *ngFor="let dato of datos">
          <ion-item>
            <ion-label text-wrap> 
              <h3>Patente: {{dato.patente}}</h3>
              <ion-text color="secondary">
                <p>Marca: {{dato.marca}}</p>
              </ion-text>
              <ion-text >
                <p>Modelo: {{dato.modelo}}</p>
              </ion-text>
              <ion-text >
                <p>Año: {{dato.year}}</p>
              </ion-text>
              <ion-text >
                <p>Color: {{dato.color}}</p>
              </ion-text>
              <ion-text >
                <p>Capacidad: {{dato.capacidad}}</p>
              </ion-text>
              <p>{{dato.modified | date: 'short'}}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="secondary" (click)="updateDatos(dato)">Actualizar</ion-item-option>
           <ion-item-option color="danger" (click)="deleteDatos(dato)">Eliminar</ion-item-option> 
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-list>




  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">
    <ion-list-header>
    </ion-list-header>
    
    <ion-item>
      <ion-label>Patente: </ion-label>
      <ion-input type="Text" placeholder="Patente" 
                name="patente" [(ngModel)]="vehiculo.patente"
                pattern="^([a-zA-Z0-9]{2,6})$"
                required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Marca: </ion-label>
      <ion-input type="Text" placeholder="Marca" 
                name="marca" [(ngModel)]="vehiculo.marca"
                pattern="^([a-zA-Z0-9]{2,15})$"
                required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Modelo: </ion-label>
      <ion-input type="Text" placeholder="Modelo" 
                name="user" [(ngModel)]="vehiculo.modelo"
                pattern="^([a-zA-Z0-9_\-\.]{2,15})$"
                required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Año: </ion-label>
      <ion-input type="number" placeholder="Año" 
                name="año" [(ngModel)]="vehiculo.year"
                pattern="^([0-9]{2,4})$"
                required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Color: </ion-label>
      <ion-input type="text" placeholder="Color"
                  name="color" [(ngModel)]="vehiculo.color"
                  pattern="^([a-zA-Z]{2,12})$"
                  required>
  
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Capacidad: </ion-label>
      <ion-input type="number" placeholder="Capacidad"
                  name="Capacidad" [(ngModel)]="vehiculo.capacidad"
                  pattern="^([0-9]{1,15})$"
                  required>
  
      </ion-input>
    </ion-item>
  
    <ion-button [disabled]="formulario.invalid"
                type="submit" expand="block">
        Registrar Vehículo
    </ion-button>
    
  </form>
-->


