<ion-header>
    <ion-toolbar color="mycolor">
      <!--boton regresar-->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="" color="light" mode="ios"></ion-back-button>
      </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>



<ion-grid>
  <ion-row>
    <ion-col>
      <div align="center"><img src="assets/avatar.png" width="200" height="200"></div>
    </ion-col>
  </ion-row>
  <h1 >Nombre :{{ nombre }}</h1>
  <h1>Correo :{{ correo }}</h1>
  <h1>Rol:{{ rol }}</h1>





