<ion-header>
    <ion-toolbar color="mycolor">
      <!--boton regresar-->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="" color="light" mode="ios"></ion-back-button>
      </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

   <ion-grid>
  <ion-row>
    <ion-col>
      <div align="center"><img src="assets/avatar.png" width="200" height="200"></div>
    </ion-col>
  </ion-row>
  <h1 >Nombre :{{ nombre }}</h1>
  <h1>Correo :{{ correo }}</h1>
  <h1>Rol:{{ rol }}</h1>
  <div class="content Usuarios" *ngFor="let usuario of Usuarios">
    <h2>Nombre:{{usuario.nombre}}</h2>
    <h2>Correo:{{usuario.correo}}</h2>
    <h2>Rol:{{usuario.rol}}</h2>
  </div>

 








