<ion-header>
    <ion-toolbar color="mycolor">
      <!--boton regresar-->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="" color="light" mode="ios"></ion-back-button>
      </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/avatar.png" />
    </ion-thumbnail>
  </ion-item>
  <ion-label>
    Nombre:{{ nombre }}
  </ion-label>
  <br>
  <ion-label>
    Correo:{{ correo }}
  </ion-label>
  <br>
  <ion-label>
    Rol:{{ rol }}
  </ion-label>
  <br>
  </ion-content>
