<ion-header>
  <ion-toolbar color="mycolor">
    <!--boton regresar-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light" mode="ios"></ion-back-button>
    </ion-buttons>
  <ion-title>Feriados</ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="body">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
          *ngFor="let noticia of noticias; let i=index">

          <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                  <span class="text-primary">{{i + 1}}. </span>
                  <span class="noticia-source-name">{{noticia.date}} </span> </ion-card-subtitle>
                <ion-card-title>{{noticia.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                {{noticia.type}}
              </p>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
