<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <ion-avatar class="avatar">
      <img src="../../assets/logo3.png" alt="" style="width: 65px; height:65px;">
    </ion-avatar>
    <br>
     <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pasword</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <br>
  <div class="inicio">
    <ion-button href="/home" color="success">Iniciar Sesion</ion-button>
  </div>
  <br>
  <div class="registro">
    <ion-button href="/home">Registrarse</ion-button>
  </div>
  
  </ion-card>
 
  
</ion-content>
