<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" color="dark" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo2">Mi Cuenta</ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/img/logo.png" alt="" style="width: 40px; height:40px; margin: 5px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div align="center"><img src="../../assets/avatar2.png" class="logo"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="oscurecer" href="/mi-info">
    <ion-card-content class="parrafo">
      <h2>Informacion personal</h2>
      <p>Correo, Nombre, Rol</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="oscurecer" href="/metodo-pago">
    <ion-card-content class="parrafo">
      <h2>Metodos de pago</h2>
      <p>Efectivo, Tarjetas, Cuentas</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="oscurecer" href="/acerca-de">
    <ion-card-content class="parrafo">
      <h2>Acerca de</h2>
      <p>Cuenta, Software</p>
    </ion-card-content>
  </ion-card>
  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <div align="center"><img src="../../assets/avatar2.png" class="logo"></div>
      </ion-col>
    </ion-row>
    <h1 >Nombre :{{ usuario.nombre }}</h1>
    <h1>Correo :{{ usuario.correo }}</h1>
    <h1>Rol:{{ usuario.rol }}</h1>
  </ion-grid> -->
</ion-content> 
