<ion-header>
  <ion-toolbar color="mycolor">
    <!--boton regresar-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" color="light" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-item color="warning">
    <ion-icon slot="start" name="pin-outline" color=""></ion-icon>
    <ion-label>Transportes Duoc UC</ion-label>
  </ion-item>

  <ion-card-content>
    <img src="assets/transporte.jpg" class="ion-padding">
    <p class="parrafo2">Progama tu transporte para el acercamiento a tu destino de manera sencilla o 
      inscribete con tu vehículo para apoyar a otras personas que nesesiten transporte para llegar a sus destinos.</p>
      <ion-button fill="outline" slot="start" routerLink="/buscar-vehiculo">
        Buscar Transporte
      </ion-button>
      <ion-button fill="outline" slot="end" routerLink="/registro-vehiculo">
        Tengo vehículo
      </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
