<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="" color="dark" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div align="center" style="margin-top:45px;"><img src="../../assets/img/logo.png" class="logo"></div>
      </ion-col>
    </ion-row>
    <h1 class="info">BMH.Inc</h1>
    <H2 class="info">Terminos y condiciones</H2>
    <h2 class="info">Version:1.2.1</h2>
    
  </ion-grid>
</ion-content>
