<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="dark">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-avatar slot="end">
      <img src="../../assets/logo3.png" alt="" style="width: 45px; height:45px; margin: 10px;">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1> Bienvenido/a: {{ nombre }} </h1>
</ion-content>

<!--export class HomePage {
  nombre: string = 'MiAmigoPedro';
  edad: number = 25;
  dir: {calle: string, num: number};
  constructor() {
    this.nombre = 'Pedro';
    this.edad = 25;
    this.dir = {calle:'C/calle', num: 16}; 
  }
}
-->