ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

.transportes{
    margin: 8px;
}

ion-content.background{
    --background:#FDF2E9 0 0/100% no-repeat;    
}

ion-list.background{
    --background:#FDF2E9 0 0/100% no-repeat;    
}
