<ion-header>
  <ion-toolbar color="mycolor">
    <!--boton regresar-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Vehículos Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-searchbar [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>

<ion-list class="background"> 
  <ion-item *ngFor="let result of results">
    <ion-label>{{ result }}</ion-label>
  </ion-item>
</ion-list>

  <ion-card class="transportes">
    <ion-item color="warning">
      <ion-icon slot="start" name="pin-outline" color=""></ion-icon>
      <ion-label>Transportes Duoc UC</ion-label>
    </ion-item>
  
    <ion-card-content>
      <img src="assets/transporte.jpg" class="ion-padding">
      <p class="parrafo2">Progama tu transporte para el acercamiento a tu destino de manera sencilla y segura.</p>
      <br>
      
    </ion-card-content>  
    <div class="card">
      <div class="card-body">
        <h5 class="titulo" style="color:black">Vehiculos Disponibles</h5>
        <table class="table">
          <tbody>
            <tr *ngFor="let vehiculo of listVehiculo">
              <td>Patente: {{ vehiculo.patente }}</td>
              <td>Marca: {{ vehiculo.marca }}</td>
              <td>Ruta: {{ vehiculo.ruta }}</td>
              <td>Cap.: {{ vehiculo.capacidad }}</td>
              <td>Chofer: {{ vehiculo.chofer }}</td>
              <td>
                <i class="fa-regular fa-circle-check text-success" style="margin-bottom:20px"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ion-card>
<br>






</ion-content>

