<ion-header>
  <ion-toolbar color="mycolor">
    <!--boton regresar-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="light" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Vehículos Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <ion-searchbar [debounce]="1000" (ionChange)="handleChange($event)"></ion-searchbar>

<ion-list class="background"> 
  <ion-item *ngFor="let result of results">
    <ion-label>{{ result }}</ion-label>
  </ion-item>
</ion-list>

<ion-grid fixed>
  <ion-row>
    <ion-card class="transportes">
      <ion-item color="warning">
        <ion-icon slot="start" name="pin-outline" color=""></ion-icon>
        <ion-label>Transportes Duoc UC</ion-label>
      </ion-item>
    
      <ion-card-content>
        <img src="assets/transporte.jpg" class="ion-padding">
        <p class="parrafo2">Progama tu transporte para el acercamiento a tu destino de manera sencilla y segura.</p>
        <br>
      </ion-card-content>  
    </ion-card>
    <h1>Vehículos Disponibles</h1>
    <br>
    <ion-col size="10" size-lg="3" size-md="4" size-sm="6" size-xs="12"
            *ngFor="let vehiculo of listVehiculo">


              <div class="card">
                <div class="card-body">
                        <p>Ruta: {{ vehiculo.ruta }}</p>
                        <img src="assets/transporte.jpg" class="ion-padding">
                        <p>Patente: {{ vehiculo.patente | uppercase}}</p>
                        <p>Marca: {{ vehiculo.marca }}</p>
                        <p>Cap.: {{ vehiculo.capacidad }}</p>
                        <p> Chofer: {{ vehiculo.chofer }}</p> 
                        <!--modal-->
                        <ion-button id="open-modal" expand="block">Reservar</ion-button>
                        <p>{{ message }}</p>
                        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
                          <ng-template>
                            <ion-header>
                              <ion-toolbar color="mycolor">
                                <ion-buttons slot="start">
                                  <ion-button (click)="cancel()" class="btn btn-danger">Cancelar</ion-button>
                                </ion-buttons>
                                <ion-title>Reservar</ion-title>
                                <ion-buttons slot="end">
                                  <ion-button (click)="confirm() " [strong]="true" class="btn btn-success">Confirmar</ion-button>
                                </ion-buttons>
                              </ion-toolbar>
                            </ion-header>
                            <ion-content class="ion-padding">
                              <ion-item>
                                <ion-button (click)="openPicker()">Seleccione Comuna</ion-button>
                              </ion-item>
                              <ion-item>
                                <ion-label position="stacked">Ingrese su Destino</ion-label>
                                <ion-input type="text" placeholder="A donde te diriges" [(ngModel)]="Reserva.destino"></ion-input>
                              </ion-item>
                              <ion-item>
                                <ion-label position="stacked">Capacidad a utilizar:</ion-label>
                                <ion-input type="text" placeholder="cantidad de asientos" [(ngModel)]="Reserva.capacidad"></ion-input>
                              </ion-item>
                                <ion-radio-group [(ngModel)]="Reserva.pago">
                                <label>Desea pagar con:</label>
                                <ion-row>
                                  <ion-col size="6">
                                      <ion-item>
                                        <ion-label>Tarjeta</ion-label>
                                        <ion-radio value="tarjeta"></ion-radio>                  
                                      </ion-item>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-item>
                                      <ion-label>Efectivo</ion-label>
                                      <ion-radio value="efectivo"></ion-radio>  
                                    </ion-item>
                                  </ion-col>
                                </ion-row>
                              </ion-radio-group>
                            </ion-content>
                          </ng-template>
                        </ion-modal>
                        <!--fin modal-->
                </div>
              </div>

    </ion-col>
  </ion-row>
</ion-grid>

<br>

</ion-content>
