<ion-header>
  <ion-toolbar>
    <ion-title>confirma-reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button (click)="openPicker()">Seleccione Comuna</ion-button>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ingrese su Destino</ion-label>
    <ion-input type="text" placeholder="A donde te diriges" [(ngModel)]="Reserva.destino"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Capacidad a utilizar:</ion-label>
    <ion-input type="text" placeholder="cantidad de asientos" [(ngModel)]="Reserva.capacidad"></ion-input>
  </ion-item>
    <ion-radio-group [(ngModel)]="Reserva.pago">
    <label>Desea pagar con:</label>
    <ion-row>
      <ion-col size="6">
          <ion-item>
            <ion-label>Tarjeta</ion-label>
            <ion-radio value="tarjeta"></ion-radio>                  
          </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Efectivo</ion-label>
          <ion-radio value="efectivo"></ion-radio>  
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>
  <button (click)="generarReserva()"  class="btn btn-success">Reservar</button>
</ion-content>
