<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="dark" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-card class="fondoOpaco">
    <ion-list-header>
      <ion-label class="texform"><b>Completa los siguentes datos</b></ion-label>
    </ion-list-header><br><br>
    <img src="../../assets/img/persona.png" style="width:150px; height:150px; margin-left:120px; border: radius 30px;">
  <br>
    <ion-card-content>
      
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="usuario.nombre" class="atributos" placeholder="Ej:Emilio Soto" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="usuario.correo" type="text" class="atributos" placeholder="usuario@gmail.com" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="usuario.password" type="password" class="atributos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirma Password</ion-label>
          <ion-input [(ngModel)]="usuario.confirmaPass" type="password" class="atributos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Indique discapacidad(si no posee omita este campo)</ion-label>
          <ion-input [(ngModel)]="usuario.discapacidad" type="text" class="atributos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tipo de usuario</ion-label>
          <br>
            <ion-list>
              <ion-radio-group [(ngModel)]="usuario.rol" [allowEmptySelection]="true" value="turtles">
                <ion-item >
                  <ion-label value="Pasajero">Pasajero</ion-label>
                  <ion-radio slot="end" value="pasajero"></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label value="Conductor">Conductor</ion-label>
                  <ion-radio slot="end" value="conductor"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
        </ion-item>

        <ion-button (click)="guardarUser()" expand="block" fill="outline" routerLink="/login">
          Registrarse
        </ion-button>
     
    </ion-card-content>
  </ion-card>
</ion-content>
